<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <h3 class="card-title "><b>{{this.action}} Expense</b></h3>
                    <h4 class="card-category"><b> Expense Data </b></h4>
                  </div>
                  <div class="card-body">
                    <label *ngIf="isLoading">Loading...</label>
                      <form #expenseForm="ngForm" *ngIf="!isLoading">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Expense Id" value={{expense$.expenseId}} disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input #title="ngModel" required matInput placeholder="Title" name="expense$.expenseTitle" [(ngModel)]=expense$.expenseTitle>
                                  </mat-form-field>
                                  <div *ngIf="(title.dirty || title.touched)" class="text-danger">
                                    <div *ngIf="invalidTitle()">
                                      Invalid Title.
                                    </div>
                                  </div>
                              </div>

                              <div class="col-md-4">
                                
                                <mat-form-field class="example-full-width">
                                  <input required type="text" placeholder="Expense Type" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                  <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of options" [value]="option">
                                      {{option}}
                                    </mat-option>
                                  </mat-autocomplete>
                                </mat-form-field>
                              </div>
                          </div>


                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating"> Expense Notes</label>
                                <textarea class="form-control" rows="5" name="expense$.expenseDesc" [(ngModel)]="expense$.expenseDesc"></textarea>
                            </div>
                            </div>
                            
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input #amount="ngModel" required matInput placeholder="Amount" type="number" name="expense$.expenseAmount" [(ngModel)]=expense$.expenseAmount>
                                </mat-form-field>
                                <div *ngIf="(amount.dirty || amount.touched)" class="text-danger">
                                  <div *ngIf="invalidAmount()">
                                    Invalid Amount.
                                  </div>
                                </div>
                              </div>
                          </div>
                          
                          <div class="row">
                              <div class="col-md-12">
                                <label>Expense Date</label>
                                <mat-form-field class="example-full-width">
                                  <input required matInput type="date" name="expense$.expenseDate" [(ngModel)]="expense$.expenseDate">
                                 </mat-form-field>
                                
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onUpdate()" [disabled]="invalidForm()||!expenseForm.dirty||expenseForm.invalid">{{this.action}} Expense</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  
              </div>
          </div>
      </div>
  </div>
</div>
