<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h3 class="card-title "><b>Inventory</b></h3>
                      <h4 class="card-category"><b> Inventory Information</b></h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group form-black is-empty">
                        <input type="text" class="form-control" placeholder="Search Inventory" [(ngModel)]="searchText">
                        <span class="material-input"></span>
                    </div>
                      <div class="table-responsive">
                          <label *ngIf="isLoading">Loading...</label>
                          <table class="table" *ngIf="!isLoading">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      No
                                  </th>
                                  <th>
                                      Company
                                  </th>
                                  <th>
                                      Brand
                                  </th>
                                  <th>
                                      Model
                                  </th>
                                  <th>
                                    Selling Price
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Rack
                                </th>
                                  
                              </thead>
                              <tbody *ngFor='let inventory of inventories$ | filter:searchText'>
                                  <!-- <tr class="clickable" [routerLink]="['/user-profile/',worker.workerId]"> -->
                                    <tr class="clickable" (click)="onClick(inventory.id)">
                                      <td>
                                          {{inventory.id}}
                                      </td>
                                      <td>
                                          {{inventory.itemName}}
                                      </td>
                                      <td>
                                        {{inventory.itemNumber}}
                                      </td>
                                      <td>
                                        {{inventory.itemCompany}}
                                      </td>
                                      <td>
                                        {{inventory.carBrand}}
                                      </td>
                                      <td>
                                        {{inventory.carModel}}
                                      </td>
                                      <td class="text-primary">
                                        ${{inventory.itemSellingPrice}}
                                      </td>
                                      <td>
                                        {{inventory.itemQty}}
                                      </td>
                                      <td>
                                        {{inventory.rackNo}}
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>